* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  font-size: 1.4rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.page h1 strong {
  font-weight: 700;
}

.page p {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: #333;
}

.logo + p {
  margin-top: 6px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #481ECD;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #481ECD;
}

table tbody tr.active {
  font-weight: bold;
  color: #481ECD;
}

table .r {
  text-align: right;
}

table img {
  height: 1.4rem;
  margin-right: .3em;
}

footer {
  margin-top: 30px;
  font-size: 14px;
}

footer .copyinfo {
  color: #999;
}

footer .copyinfo a {
  color: #999;
  margin: 0 .14em;
}
